version: 2.1

orbs:
  ruby: circleci/ruby@0.1.2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.4
    steps:
      - checkout
      - restore_cache:
          keys:
            - redox_{{ checksum "redox.gemspec" }}
            - redox
      - run: bundle install --path vendor/bundle --jobs 20 --retry 5
      - save_cache:
          key: redox_{{ checksum "redox.gemspec" }}
          paths:
            - vendor/bundle
      - run: |
          bundle exec rake test
      - store_test_results:
          path: /tmp/test-results
